# Server
PORT=5000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=moule_livenew

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# CORS - Next.js frontend URL
FRONTEND_URL=http://localhost:3000
